* {
    margin: 0;
    padding: 0;
}
body{
    /* background-color: #020329; */
    background: linear-gradient(to right , black , black  ,#010223 , #010229);
}

.main-section {
    overflow: hidden;
    height: 100svh;
    width: 100%;
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
    color: white;
}
.academy-logo {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.academy-logo-image {
    height: 500px;
    width: 700px;
    transition: height 0.7s, width 0.7s;
}

.academy-login {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container,
.signup-container {
    width: 70%;
    max-width: 400px;
    position: absolute;
    transition: transform 0.7s, opacity 0.7s;
}

.login-container {
    top: 20%;
}

.signup-container {
    top: 10%;
    opacity: 0;
    transform: translateY(100%);
}

.signup-animation {
    opacity: 1;
    transform: translateY(0);
}

.login-card,
.signup-card {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0px 10px silver;
    text-align: center;
}

.login-card h2 {
    margin-bottom: 20px;
    color: #343a40;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #6c757d;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 15px;
}

.login-SignUp {
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* ======================================================================= */

@media screen and (max-width: 1000px) {
    .main-section {
        flex-direction: column;
        height: 900px;
    }

    .academy-logo {
        height: 200px;
        width: 100%;
    }

    .academy-logo-img {
        height: 280px;
        width: 380px;
        position: relative;
        top: 50px;
    }

    .academy-login {
        height: 700px;
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
    }
}
@media screen and (max-width:440px) {
    .academy-logo-img {
        height: 280px;
        width: 380px;
        position: relative;
        top: 50px;
    }

    .academy-login {
        height: fit-content;
        width: 100%;
        display: block;
        position: relative;
        top: 12%;
        left: 50px;
}
}
@media screen and (max-width:375px) {
    .main-section {
        height: 800px;
    }
    .academy-logo-img {
        height: 250px;
        width: 350px;
        position: relative;
        top: 50px;
    }

    .academy-login {
        height: 200px;
        width: 100%;
        display: block;
        position: relative;
        top: 12%;
        left: 40px;
    }

}