* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: fit-content;
    width: 100%;
    overflow: hidden;
    font-family: "Kanit", sans-serif;
}


.Register-background {
    overflow: hidden;
    height: 100svh;
    width: 100svw;
    background-image: url(./Academy_register-bg.jpg);
    background-size: 100% 100%;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Register-background.visible {
    opacity: 1;
    transform: translateX(0);
}

form {
    height: 560px;
    width: 470px;
    background-color: white;
    box-shadow: 0px 0px 8px silver;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 1s, transform 1s;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

form.visible {
    opacity: 1;
    transform: translateY(0);
}

.form-heading {
    padding: 20px;
    width: 100%;
    background-color: rgb(53, 6, 96);
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-radius: 15px;

}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.form-labels {
    font-size: 16px;
    font-weight: 400;
}

.form-input {
    height: 30px;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    color: rgb(29, 27, 27);
    margin-top: 2px;
}

.age,
#primary-sport,
.mbi,
#plan {
    width: 100%;
}

.gtf {
    margin-left: 10px;
}

.enroll-button-div {
    margin: 20px 0px 0px 0px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: transparent;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.enroll-button {
    height: 40px;
    width: 100px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 63, 27);
    color: white;
    border: transparent;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.enroll-button:hover {
    color: green;
    background-color: white;
    transform: scale(1.12);
    font-weight: 700;
}

option {
    font-size: 14px;
}

.sample {
    height: 560px;
    width: 100%;
    max-width: 470px;
    background-color: white;
    box-shadow: 0px 0px 8px silver;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 1s, opacity 1s;
    padding: 20px;
    border-radius: 10px;
    z-index: -10;
}

.s {
    opacity: 1;
    transform: translateX(0);
}

.success {
    height: 40%;
    width: 100%;
    background-color: rgb(31, 4, 91);
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.register-details {
    height: 60%;
    width: 100%;
    background-color: rgb(37, 4, 100);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
}

.ty {
    font-size: 18px;
}

@media screen and (max-width: 1024px) {

    .form,
    .sample {
        width: 435px;
    }
}

@media screen and (max-width: 900px) {

    .form,
    .sample {
        width: 380px;
    }

    .form-heading {
        font-size: 18px;
    }

    .register-details {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .form {
        height: 600px;
        min-width: 500px;
        position: relative;
        left: 250px;
    }

    .sample {
        height: 600px;
        min-width: 500px;
    }

    .success {
        font-size: 28px;
    }

    .register-details {
        font-size: 20px;
    }

    .register-animation {
        display: none;
    }
}

@media screen and (max-width:530px) {
    .Register-background {
        background-image: url(./Academy-register-mobile-bg.jpg);
    }
    .form {
        height: 580px;
        min-width: 400px;
        position: relative;
        left: 210px;
    }

    .sample {
        height: 580px;
        min-width: 400px;
    }

    .success {
        font-size: 24px;
    }

    .register-details {
        font-size: 16px;
    }

    .register-animation {
        display: none;
    }
}
@media screen and (max-width:435px) {
    .form {
        height: 550px;
        min-width: 350px;
        position: relative;
        left: 155px;
    }

    .sample {
        height: 500px;
        min-width: 300px;
    }

    .success {
        font-size: 24px;
    }

    .register-details {
        font-size: 16px;
    }

    .register-animation {
        display: none;
    }
}
#downloadButton{
    width: 80px !important;
    height: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}