body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--background-color); */
    position: relative;
    background-color: rgb(0, 0, 42);   
}

:root {
    --font-size-for-h: 2.5rem;
    --font-weight-for-h: 600;
    --font-family-for-h: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --color-for-h: rgb(255, 255, 255);
    --background-color: #010229;
    /* --text-shadow : 1px 2px 3px white ; */
}

.ma_main1 {
    width: 100%;
    height: 80svh;
    aspect-ratio: 16/7.5;
    /* background-image: url(./secondPageChanged.jpg); */
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    position: relative;

    animation-name: secondPageChange;
    animation-duration: 8s;
    animation-iteration-count: infinite;

    
    display: flex;
    justify-content: end;
    align-items: flex-start;
}
@keyframes secondPageChange {
    0%{
        background-image: url(./secondPageChanged.jpg);
    }
    17%{
        background-image: url(./secondPageChanged2.webp);
    }
    34%{
        background-image: url(./secondPageChanged3.avif);
    }
    51%{
        background-image: url(./secondPageChanged4.webp);
    }
    68%{
        background-image: url(./secondPageChanged5.jpg);
    }
    85%{
        background-image: url(./secondPageChanged6.webp);
    }
    100%{
        background-image: url(./secondPageChanged.jpg);
    }
}
@media screen and (max-width : 1200px) {
    .ma_main1 {
        width: 100%;
        height: 50svh;
    }
}
.ma_main1_1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ma_main1_1 p {
    background-color: aliceblue;
    /* background: linear-gradient(120deg, blue, green, rgb(12, 248, 248), blue); */
    color: transparent;
    background-clip: text;
    overflow: hidden;
    white-space: nowrap;
    animation: text_typing 3s steps(50, end);
    border-right: 2px solid black;
}

@keyframes text_typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.ma_main2_h,
.ma_main3_h {
    text-align: center;
    font-size: var(--font-size-for-h);
    font-weight: var(--font-weight-for-h);
    font-family: var(--font-family-for-h);
    color: var(--color-for-h);
    display: flex;
    justify-content: center;
}
.main_2_00 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main_2_0 {
    width: 90%;
    /* height: 70svh; */
    display: flex;
    transform: skew(-18deg);
    background-image: url(./photos1/team\ sports.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    /* box-shadow: 0 0 10px 2px white; */
    aspect-ratio: 16/6;
}

.add_main3_0 {
    flex-direction: row-reverse;
    transform: skew(18deg);
}

.ma_main2_1 {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: end;
}

.add_main3_1 {
    justify-content: start;
}

.ma_main2_2 {
    width: 60%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ma_main2_1_1 {
    width: 80%;
    height: 80%;
    background-image: url(./photos1/Team-sports-1.jpg);
    background-size: 100% 100%;
    transform: skew(18deg);
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: 0 0 10px 3px grey; */
}

.add_main3_1_1 {
    background-image: url(./photos1/individual_chess.jpg);
}

.ma_main2_2_1 {
    width: 70%;
    height: 70%;
    /* padding: 20px; */
    transform: skew(18deg);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 30px;
}

.ma_main2_2_1 p {
    font-size: 1rem;
}

.ma_main2_2_1 span {
    font-size: 1rem;
}

.add_main3_2_1,
.add_main3_1_1 {
    transform: skew(-18deg);
}

.ma_main2 {
    position: relative;
    padding: 1;
    /* background-color: rgba(0, 0, 0, 0.9); */
}

.ma_main3 {
    padding: 1;
    /* background-color: rgba(0, 0, 0, 0.8); */
}

.ma_carousel1 , .ma_carousel2{
    width: 100%;
    display: flex;
    justify-content: center;
}
.ma_parent {
    width: 80%;
    /* height: 500 !important; */
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    /* position: relative !important; */
    aspect-ratio: 3/1;
    /* animation: from_left 1.5s ease; */
}

.ma_child {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 30;
    border-radius: 10px !important;
    overflow: hidden !important;

    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    transition: all 1.5s ease;
    opacity: 0;
}

.sub_div {
    width: 90%;
    height: 65%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    z-index: 3;
    border: 1px solid white;
}

.slick-dots li button {
    display: none;
}

.slick-dots {
    display: flex;
    gap: 20px;
    color: white;
    position: absolute;
    bottom: 0;
    z-index: 4;
    opacity: 1 !important;
}

.slick-center {
    scale: 1.3;
    opacity: 1 !important;
    filter: drop-shadow( 0 0 5px rgb(146, 136, 136));
}

.slick-active {
    color: red;
    opacity: 0.5;
}

.prebut {
    font-size: 1rem;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2px;
}

.leftt_arrow {
    position: absolute;
    left: 33% !important;
    z-index: 10;
}

.rightt_arrow {
    position: absolute;
    right: 33% !important;
    z-index: 10;
}

.slick-current {
    scale: 1.2;
}

@keyframes from_left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes from_right {
    0% {
        opacity: 0;
        transform: translatex(100%);
    }

    50% {
        transform: translatex(-10%);
    }

    100% {
        transform: translatex(0);
    }
}

@keyframes from_top {
    0% {
        opacity: 0.5;
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}
.team1 {
    background-image: url(./photos1/cricket.jpg);
}

.team2 {
    background-image: url(./photos1/football.jpg);
}

.team3 {
    background-image: url(./photos1/volleyball.jpg);
}

.team4 {
    background-image: url(./photos1/kabaddi.jpg);
}

.team5 {
    background-image: url(./photos1/basketball.jpg);
}

.team6 {
    background-image: url(./photos1/hockey.jpg);
}

.Individual1 {
    background-image: url(./photos1/carrom.jpg);
}

.Individual2 {
    background-image: url(./photos1/chess.jpg);
}

.Individual3 {
    background-image: url(./photos1/table\ tenis.jpg);
}

.Individual4 {
    background-image: url(./photos1/batminton.jpg);
}

.Individual5 {
    background-image: url(./photos1/boxing.jpg);
}

@media screen and (max-width:1024px) {
    .ma_main1_1 p {
        font-size: 2rem;
    }

    .ma_main2_2_1 p,
    .ma_main2_2_1 span {
        line-height: normal;
        font-size: 0.9rem;
    }
}

@media screen and (max-width:1250px) {

    .ma_main2_2_1 p,
    .ma_main2_2_1 span {
        line-height: normal;
        font-size: 1.1rem;
    }
}

@media screen and (max-width:1024px) {

    .ma_main2_2_1 p,
    .ma_main2_2_1 span {
        line-height: normal;
        font-size: 0.8rem;
    }
}
@media screen and (max-width:320px) {
    .ma_main2_2_1{
        width: 50%;
        height: 50%;
    }
}
@media screen and (max-width:850px) {

    .ma_main2_2_1 p,
    .ma_main2_2_1 span {
        line-height: normal;
        font-size: 0.65rem;
    }
}
@media screen and (max-width:650px) {

    .ma_main2_2_1 p,
    .ma_main2_2_1 span {
        line-height: normal;
        font-size: 0.55rem;
    }
    
}
@media screen and (max-width:768px) {
    .ma_main1_1 p {
        font-size: 1.5rem;
    }
    .ma_main2_h p{
        font-weight: 500;
        font-size: 1.5rem;
    }
    .ma_main3_h p{
        font-weight: 500;
        font-size: 1.5rem;
    }
    .ma_main2_2_1 p,
    .ma_main2_2_1 span {
        line-height: normal;
        font-size: 0.7rem;
    }
}
@media screen and (max-width:425px) {

    .ma_main2_2_1 p,
    .ma_main2_2_1 span {
        line-height: normal;
        font-size: 0.45rem;
    }
    
}
@media screen and (max-width:320px) {

    .ma_main2_2_1 p,
    .ma_main2_2_1 span {
        line-height: normal;
        font-size: 0.3rem;
    }
    
}
@media screen and (max-width:300px) {

    .ma_main2_2_1 p,
    .ma_main2_2_1 span {
        line-height: normal;
        font-size: 0.35rem;
        color: red;
    }
    
}
@media screen and (max-width:375px) {
    .ma_main2_h p{
        font-weight: normal;
        font-size: 1rem;
    }
    .ma_main3_h p{
        font-weight: normal;
        font-size: 1rem;
    }
}
@media screen and (max-width:600px) {
    .ma_main1_1 p {
        font-size: 0.7rem;
    }
}

@media screen and (max-width:768px) {
    .leftt_arrow,.rightt_arrow{
        background-color: blue;
        display: none !important;
    }
    .ma_parent,.main_2_0{
        aspect-ratio: 16/8;
    }
}

